addict==0.4.0
amqp==1.4.6
anyjson==0.3.3
architect==0.5.1
astroid==1.3.6
atomictempfile==0.1.2
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
cfgtool==0.1.13
clip.py==0.3.0
colorama==0.3.3
configobj==5.0.6
decorator==4.0.0
django-celery==3.1.16
django-model-utils==2.3.1
Django==1.8.3
ipython-genutils==4.0.0.dev1
ipython==4.0.0b1
jsonfiledict==0.1.11
kombu==3.0.26
logilab-common==1.0.2
logtool==0.2.22
logutils==0.3.3
path.py==7.4
pexpect==3.3
pickleshare==0.5
protobuf-to-dict==0.1.0
protobuf==3.0.0a3
psutil==3.1.1
psycopg2==2.6.1
pylint==1.4.4
python-memcached==1.54
pytz==2015.4
pyver==1.0.31
qeventlog==0.1.55
rainbow-logging-handler==2.2.2
raven==5.5.0
retryp==0.1.12
setuptools-lint==0.3
simplegeneric==0.8.1
six==1.9.0
termcolor==1.1.0
traitlets==4.0.0
wheel==0.24.0
wrapt==1.10.5
